/*++

Copyright (c) Microsoft Corporation All Rights Reserved

Module Name:

    MicyAudio.rc

Abstract:

--*/

#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_SOUND
#define VER_FILEDESCRIPTION_STR     "Micy Simple Virtual Microphone with IOCTL"
#define VER_INTERNALNAME_STR        "MicyAudio.sys"
#define VER_ORIGINALFILENAME_STR    "MicyAudio.sys"

#define VER_LEGALCOPYRIGHT_YEARS    "2025"
#define VER_LEGALCOPYRIGHT_STR	    "Copyright (C) Micy" VER_LEGALCOPYRIGHT_YEARS

#include "common.ver"


